<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Welcome to 99 cats, <%= @user.username %>!</h1>
        <p>
            You are all signed up for 99 cats.
            Your username is: <%= @user.username %>. <br />
            log in <a href=<%= @url %>>here</a>.
        </p>
        <p>Thanks for joining!</p>
    </body>
</html>