.parent div {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
}

.parent {
  border: 2px solid green;
  position: relative;
}

.child:nth-child(1) {
  background: cornflowerblue;
}

.child:nth-child(2) {
  background: peru;
}

.child:nth-child(3) {
  background: olivedrab;
}