<form action="<%= user_url(@user) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="username">Username: <input type="text" name="user[username]" id="username" value="<%= @user.username %>"> 
    </label>

    
    <input type="submit" value="Update User">

</form>